Source: com.github.tenderowl.norka
Section: x11
Priority: extra
Maintainer: Andrey Maksimov <andrey@tenderowl.com>
Homepage: https://tenderowl.com/norka/
Build-Depends: appstream,
               debhelper (>= 9),
               dh-python,
               libgranite-dev,
               libgtk-3-dev (>= 3.10),
               intltool,
               libgtkspell3-3-dev,
               meson (>= 0.50.0),
               python-gi
Standards-Version: 3.9.3
X-Python-Version: >= 3.6

Package: com.github.tenderowl.norka
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Norka
 Continuous text editor
