/* @define-color suggested_bg_color #3584e4; */

/* @binding-set editor-bindings { */
/*   bind "<ctl>i" { "insert-italic" () }; */
/*   bind "<ctl>b" { "insert-bold" () }; */
/*   bind "<ctl><shift>c" { "insert-code" () }; */
/*   bind "<ctl><alt>c" { "insert-code-block" () }; */
/*   bind "<ctl>1" { "insert-h1" () }; */
/*   bind "<ctl>2" { "insert-h2" () }; */
/*   bind "<ctl>3" { "insert-h3" () }; */
/*   bind "<ctl>l" { "insert-list" () }; */
/*   bind "<ctl><shift>l" { "insert-ordered-list" () }; */
/*   bind "<ctl>t" { "insert-quote" () }; */
/*   bind "<ctl>k" { "insert-link" () }; */
/*   bind "<ctl><shift>k" { "insert-image" () }; */
/* } */

/* Fix AdwHeaderBar padding when AdwTabBar placed inside */
#editor-tabs-view-header box {
  padding-top: 0;
  padding-bottom: 0;
}

#editor-container {
  background-color: var(--window-bg-color);
  padding-left: var(--window-radius);
  padding-right: var(--window-radius);
  padding-bottom: var(--window-radius);
}

#scrolled {
  border-radius: calc(var(--window-radius) - (var(--window-radius) / 2));
  background-color: var(--view-bg-color);
}

#sourceview text {
  background-color: var(--view-bg-color);
}

#sourceview {
  color: var(--view-fg-color);
  background-color: var(--view-bg-color);
  padding: calc(var(--window-radius) * 2);
  border-radius: var(--window-radius);
  font-family: 'IBM Plex Mono', monospace;
}

treeexpander {
    transition: margin 200ms ease-out;
}

/* Style scheme previews in Preferences */
GtkSourceStyleSchemePreview {
  border-radius: calc(var(--window-radius) * 0.5);
}