
@binding-set editor-bindings {
  bind "<ctl>i" { "insert-italic" () };
  bind "<ctl>b" { "insert-bold" () };
  bind "<ctl><shift>c" { "insert-code" () };
  bind "<ctl><alt>c" { "insert-code-block" () };
  bind "<ctl>1" { "insert-h1" () };
  bind "<ctl>2" { "insert-h2" () };
  bind "<ctl>3" { "insert-h3" () };
  bind "<ctl>l" { "insert-list" () };
  bind "<ctl><shift>l" { "insert-ordered-list" () };
  bind "<ctl>t" { "insert-quote" () };
  bind "<ctl>k" { "insert-link" () };
  bind "<ctl><shift>k" { "insert-image" () };
}

.norka-header {
  padding-top: 3px;
  padding-bottom: 3px;
}

.elementary .norka-header *
{
  color: #fffcfa;
}

.elementary .norka-header .title,
.elementary .norka-header .subtitle {
  text-shadow: 0 1px 1px #111;
}

.norka-editor-view {
  -gtk-key-bindings: editor-bindings;
}

.norka-editor {
  border: none;
  background: transparent;
  font-family: 'Open Sans', sans-serif;
}

.quick-dialog entry {
    border-radius: 4px;
}

