[Desktop Entry]
Name=Norka
GenericName=Norka text editor
Exec=norka %U
Icon=${SNAP}/meta/gui/norka.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;
Keywords=Norka;TenderOwl;Tender;Markdown;